/* CSS Document */
.banner{
	text-align: center;
	background: #e1e1e1;
	padding: 30px;
	width: 100%;
	margin: auto;
	margin-bottom: 25px;
}

.navActive{
	background: #4C7371;
	font-size: 24px;
}

.navActive a{
	color: aliceblue;
	text-decoration: none;
}

.navItem{
	font-size: 24px;
}

.navItem a{
	color: #000000;
	text-decoration: none;
}

.navItem:hover{
	background: #e1e1e1;
}

.navBar{
	text-align: center;
	width: 100%;
	margin: auto;
}

.content{
	width: 100%;
	margin: auto;
	text-align: center;
	margin-top: 100px;
}